@media screen and (max-height: 780px) {

    header {
        height: 300px;
    }

    header .textos h1 {
        margin-top: 5%;
    }

    main {
        height: 390px;
        margin-bottom: 10px;
    }

    main .tabela-1, .tabela-2, .tabela-3 {
        top: -55px;
    }

    main .tabela-1:hover, .tabela-2:hover, .tabela-3:hover {
        top: -85px;
    }

}
