@media screen and (max-height: 780px) {

    header {
        height: 300px;
    }

    header .textos h1 {
        margin-top: 5%;
    }

    main {
        height: 390px;
        margin-bottom: 10px;
    }

    main .tabela-1, .tabela-2, .tabela-3 {
        top: -55px;
    }

    main .tabela-1:hover, .tabela-2:hover, .tabela-3:hover {
        top: -85px;
    }

}

@media (max-width: 1100px) {
    main .tabela-1, .tabela-2, .tabela-3 {
        width: 325px;
        height: 470px;
        margin-right: 15px;
    }

    main .tabela-2 .planos {
        width: 325px;
    }

    main .tabela-2 h4 {
        padding: 25px 128px 24px 30px;
    }

    main .tabela-2 h5 {
        margin-right: 10px;
    }

    main .botao-assinar {
        width: 296px;
        height: 49px;
        margin: 0 13px 0 13px;
    }
}

@media (max-width: 1000px) {

    main {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    main .tabela-1, .tabela-2, .tabela-3 {
        width: 500px;
        height: 470px;
        position: relative;
        top: 380px;
        margin-bottom: 20px;
    }

    main .tabela-3 {
        height: 470px;
    }


    main .tabela-1:hover, .tabela-2:hover, .tabela-3:hover {
        position: relative;
        top: 380px;
    }

    main .tabela-2 .planos {
        width: 500px;
        height: 76px;
        background: #FFCC29;
        box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
        border-radius: 8px 8px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main .tabela-1 .planos {
        width: 71px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .botao-assinar {
        margin: 30px auto;
    }

    main .tabela-1 .listas-beneficios {
        width: 294px;
        height: 58px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    main .tabela-2 .listas-beneficios {
        width: 294px;
        height: 100px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    main .tabela-3 .listas-beneficios {
        width: 294px;
        height: 136px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    main .descricao-plano {
        width: 291px;
        height: 38px;
        margin: 10px auto 41px auto;
    }
    
    main .descricao-plano p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: var(--gray);
        padding-bottom: 20px;
        border-bottom: 1px solid var(--gray);
        margin-bottom: 20px;
    }

    main .tabela-1 .listas-beneficios {
        width: 294px;
        height: 58px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    main .tabela-2 .listas-beneficios {
        width: 294px;
        height: 100px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    main .tabela-3 .listas-beneficios {
        width: 294px;
        height: 136px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    main .listas-beneficios img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

@media (max-width: 600px) {
    main .tabela-1, .tabela-2, .tabela-3 {
        width: 355px;
        height: 470px;
        background: #FFFFFF;
        box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
        border-radius: 8px;
    }

    main .tabela-2 .planos {
        width: 355px;
        height: 76px;
        background: #FFCC29;
        box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
        border-radius: 8px 8px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .textos h1 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 65px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    header .textos p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        margin: 0 auto;
    }
}

@media (max-width: 450px) {
    main .tabela-1, .tabela-2, .tabela-3 {
        width: 325px;
        height: 470px;
    }

    main .tabela-2 .planos {
        width: 325px;
        height: 76px;
    }    
} 

@media (max-width: 321px) {
    main .tabela-1, .tabela-2, .tabela-3 {
        width: 280px;
        height: 470px;
    }

    main .tabela-2 .planos {
        width: 280px;
        height: 76px;
    }

    main .botao-assinar button {
        width: 250px;
        height: 49px;
    }    

    main .botao-assinar {
        width: 250px;
        height: 49px;
    }

    header .textos h1 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
    }

    main .tabela-2 h5 {
        display: none;
    }
}